<h1 class="text-center"><b>About Us</b></h1>
<p>We want to help young programmers do more, feel better, get their questions answered and basically be able to contribute
more to the code society</p>

<p>Today there are still a lot of young coders without access to basic programming know-hows </p>
<p>thousands of programers without adequate information and millions more problems who suffer from inadequate solutions</p>
<p>At Q/A Message Board we want to change this.</p>
We'll be more than glad if you contribute :)
