<div class= "container">
  <header class= "text-center">
    <h2>Message Board</h2>
    <nav class="navbar navbar-default" style="background:silver;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:4200/index">Q/A Message Board</a>
      </div>
      <ul class="nav navbar-nav" style="float:right">
        <li class="active"><a href="http://localhost:4200/index">Home</a></li>
        <li><a href="http://localhost:4200/about">About Us</a></li>
        <li><a href="http://localhost:4200/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>
  </header>

    {{outlet}}

  <hr>
  <footer>
    {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
  </footer>
</div>
